body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
h6{
  font:"Times New Roman"
  letter-spacing: 0px;
}

nav{
  position: absolute;
  top: 10px;
}

nav ul{
  
  text-align: center;
  overflow: hidden;
  width: 100%;
  float: right;
  letter-spacing: 1px;
}

nav li{
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

nav li a.active{
  font-weight: bold;
  font-style: italic;
  font-size: 105%;
  color: grey;
}

.off-canvas-wrapper{
  margin-top: 30px;
}

.mypictures{
  margin-left: 15px;
}


